<div class="container" id="about-page">
  
  <div class="about-container">
    <h1 class="about-header">about</h1>
      <p class="about-subtitle">LIST AND SELL YOUR USED BIKES</p>
  </div><!-- /about-container -->
  
  <div class="col-lg-6 col-md-12" id="about-image">
    <%= image_tag("wood-light-bike-tire-small.jpg") %>
  </div><!-- /col-lg-6 col-md-12 about-image -->
  
  <div class="col-lg-6 col-md-12" id="about-paragraph">
    <br>
    <p>At Bike Berlin, we make it easy for you to buy or sell used your used bikes! <br>
    Curabitizzle pimpin' quis doggy shizzlin dizzle mollizzle. Sure potenti. Its fo rizzle odio. Shizzlin dizzle neque. We gonna chung sheezy. Cras maurizzle funky fresh, interdum fo shizzle mah nizzle fo rizzle, mah home g-dizzle, feugiat gangster amizzle, malesuada izzle, i'm in the shizzle. Pellentesque gravida. We gonna chung that's the shizzle mi, volutpizzle in, break it down sed, fizzle sempizzle, velit. Crizzle pot ipsum. I'm in the shizzle volutpizzle felis vel fo shizzle. Crizzle crackalackin justo in purus funky fresh ornare. Dope venenatis justo et things. Nunc phat. Suspendisse venenatis placerizzle fo shizzle. Curabitur eu ante. Shit yo, leo eu dapibus you son of a bizzle, shizzle my nizzle crocodizzle felizzle elementum fizzle, gizzle aliquizzle shit felis luctus pede. Own yo' a pizzle. Class aptent taciti the bizzle izzle that's the shizzle torquent per conubia dope, per inceptos hymenizzle. Own yo' interdizzle, fo shizzle nizzle elementizzle nonummy, fo shizzle orci viverra leo, shizznit sempizzle risus arcu my shizz sizzle.</p>
  </div><!-- /col-lg-6 col-md-12 about-paragraph -->

</div><!-- /container about-page -->
