<div class="container" id="indexcontainer">
  
  <div class="header">
    <h1>Welcome to Bike Berlin</h1>
      <h2>Your source for used bikes in Berlin</h2>
  </div>
  
  <div class="image">
    <%= image_tag("bike.jpg", class: "img-responsive bike-image") %>
  </div>
  
</div>
