<div class="container-fluid" id="hero-image">
  <div id="title">
    <h1 class="index-title">bike berlin</h1>
    <h3 class="index-subtitle">THE ULTIMATE SOURCE FOR USED BIKES IN BERLIN</h3>
  </div><!-- /title -->
</div><!-- /container-fluid hero image -->

<div class="featured-products">
  <%= render 'static_pages/landing_page' %>
</div>
