<div class="container-fluid" id="heroimage">
  <div id="title">
    <h1>bike berlin</h1>
  </div><!-- /title -->
  <div id="subtitle">
    <h3>THE ULTIMATE SOURCE FOR USED BIKES IN BERLIN</h3>
  </div><!--/subtitle-->
</div><!-- /container-fluid hero image -->


  
  
  

