<div class="container">
  <div class="thank_you-container">
    
    <p id="thank_you-message">Thank you! We have received your message and will respond as soon as possible</p>
    <%= image_tag ("thank_you_image.jpg") %>
  
  </div><!--/thank_you-container-->
</div><!--/container-->