@import sass/variables


/*NAV-BAR*/

.product-search
  padding-top: .75%
  margin-right: 15px
  margin-left: 15px
 

/*FOOTER*/
footer 
  position: relative
  text-align: center
  height: 75px

/*GLOBAL*/
h1
  font-family: $headers
  font-size: $headerFontSize
  font-weight: 800
  text-align: center
h2
  font-family: $headers
h3
p
  font-family: $paragraphs

.btn
  color: #333
  background-color: #CCC
  border-color: #ccc
  text-decoration: none
  
body
  background-color: $columnBorders

.field
  padding: .25%

.alert-container
  width: 15%
  text-align: center
  float: right

/*INDEX*/

#hero-image
  background-image: url("Bikeberlinheroimage.jpg")
  background-position: center
  padding-top: 37%
  padding-bottom: 12%
  background-attachment: fixed

#title
  margin-top: -28%
  text-align: center
  
.index-title, .index-subtitle
  color: $headerColors
  
/*LANDING_PAGE*/

#landing-title
  text-align: center

.carousel-inner
  height: 360px
  
.item
  margin-left: 30%
  
.button-container
  margin-bottom: 3%

.landing-btn
  margin-top: 3%
  margin-left: 45%
  padding: 1.5%

/*PRODUCT-INDEX*/

#product-index
  padding-top: 3%
  text-align: center
  padding-bottom: 2%

#product-columns
  padding-top: 2%
  border-style: solid
  border-color: $columnBorders
  background-color: white
  margin: 1%
  width: 300px
  height: 525px  
  
.product-image
  height: 195px

#description-container
  margin-top: 25px
  height: 220px
  
/*ABOUT*/

.about-container
  margin-top: 5%
  text-align: center
  margin-bottom: 4%
  
#about-page
  padding-bottom: 5%
  
/*CONTACT*/
#contact-container
  padding-top: 3%
  padding-bottom: 5%
  
#contact-header
  padding-bottom: 2%
  text-align: center
  
/*THANK_YOU*/
.thank_you-container
  padding: 6%
  text-align: center
  
#thank_you-message
  padding: 5%
  

/*PRODUCTS/SHOW*/
#products-show
  text-align: center
  padding-top: 3%
  padding-bottom: 5%

.product-show-header
  padding-bottom: 3%
  
#details
  width: 100%
  
.col-lg-7, .col-sm-12, .col-lg-5
  background-color: white
  height: 425px
  
#show-image-column
  margin-left: 5%
  margin-right: -10%
  
#show-image-details
  margin-right: 5%
  border-style: solid
  border-width: 10px
  border-color: rgba(103,154,236,0.34)
  
.product-image-show
  margin-top: 0.5%
  width: 625px
  height: 420px
  
#show-deets
  margin-top: 3%
  

/*PRODUCTS/NEW*/  
.new-product
  padding-top: 3%
  text-align: center
  
#new-form
  text-align: center
  padding-top: 3%
  padding-bottom: 5%

/*PRODUCTS/_FORM*/

/*PRODUCTS/EDIT*/
.edit-header
  text-align: center
  padding-top: 3%

#edit
  text-align: center
  padding-bottom: 5%
  
#edit-form
  padding-top: 3%
  
/*USERS LOGIN*/
.login-container
  text-align: center
  padding-top: 3%
  padding-bottom: 10%
    
#login-header
  padding-bottom: 5%
  
/*USERS SIGN UP*/
.sign_up-container
  padding-top: 3%
  text-align: center
  
.sign-up-form
  padding-bottom: 8%

#sign-up
  padding-bottom: 5%

/*USER EDIT*/
.user-edit
  padding-top: 3%
  text-align: center
  
#user-edit-columns
  padding: 5%
  