@import sass/variables


/*NAV-BAR*/


/*GLOBAL*/
h1
  font-family: $headers
  font-size: $headerFontSize
  font-weight: 800

h2
  font-family: $headers
h3
  font-family: $paragraphs

.btn
  color: #333
  background-color: #CCC
  border-color: #ccc
  text-decoration: none
  
body
  background-color: $columnBorders

footer
  margin-bottom: 0
  position: fixed
  height: 50px


/*INDEX*/

#hero-image
  background-image: url("Bikeberlinheroimage.jpg")
  background-position: center
  padding-top: 37%
  padding-bottom: 12%
  background-attachment: fixed

#title
  margin-top: -35%
  text-align: center
  
.index-title, .index-subtitle
  color: $headerColors
  
/*LANDING_PAGE*/

#landing-title
  text-align: center

.carousel-inner
  height: 360px
  
.item
  margin-left: 30%
  
.button-container
  margin-bottom: 3%

.landing-btn
  margin-top: 3%
  margin-left: 45%
  padding: 1.5%

/*PRODUCT-INDEX*/

#product-index
  padding-top: 3%
  text-align: center
  padding-bottom: 2%

#product-columns
  padding-top: 2%
  border-style: solid
  border-color: $columnBorders
  background-color: white
  margin: 1%
  width: 300px
  height: 525px  
  
.product-image
  height: 195px

#description-container
  margin-top: 25px
  height: 220px

#product-buttons
  
  

    
  