
<div class="container-fluid" id="product-index">
  <div class="header" id="product-index-header">
    <h1>product listings</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <%= @test_variable %>
  <div class="product-listings">
    <%= render @products %>
  </div><!--/product-listings-->
</div><!--/container-fluid-->