<div id="product-new">
  
  <h1 class="new-product">new product</h1>

  <div id="new-form">
    <%= render 'form' %>
    <%= link_to 'Back', products_path %>
  </div><!--/new-form-->
  
</div><!--/product-new-->
